body,
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
/*设置页面加载进度条 */
#nprogress .bar {
  top: 70px !important;
  background: linear-gradient(
    90deg,
    $orchid-pink,
    $pink-avenderr,
    $orchid-pink,
    $nadeshiko-pink,
  ) !important;
  // $color-purple
  height: 4px !important;
}

#nprogress .peg {
  display: none !important;
}
.el-scrollbar__bar {
  opacity: 0;
}
// .markdown-body{
//   h2{
//     display: block;
//     font-size: 1.5em;
//     margin-block-start: 0.83em;
//     margin-block-end: 0.83em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     font-weight: bold;
//   }
//   hr{
//         display: block;
//     unicode-bidi: isolate;
//     margin-block-start: 0.5em;
//     margin-block-end: 0.5em;
//     margin-inline-start: auto;
//     margin-inline-end: auto;
//     overflow: hidden;
//     border-style: inset;
//     border-width: 1px;
//   }
//   ul{
//     display: block;
//     list-style-type: disc;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     padding-inline-start: 40px;
//   }
//   li{
//     display: list-item;
//     text-align: -webkit-match-parent;
//   }
// }